# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/images/cat tail.gif
public/images/day.gif
public/images/debug.log
public/images/jet.gif
public/images/Parallax_scroll.gif
public/images/sleeping cat.gif
public/images/stacked.gif
public/images/swirl.gif
public/images/day/day.gif
public/images/day/wholeday/day_0000_91.gif
public/images/day/wholeday/day_0001_90.gif
public/images/day/wholeday/day_0002_89.gif
public/images/day/wholeday/day_0003_88.gif
public/images/day/wholeday/day_0004_87.gif
public/images/day/wholeday/day_0005_86.gif
public/images/day/wholeday/day_0006_85.gif
public/images/day/wholeday/day_0007_84.gif
public/images/day/wholeday/day_0008_83.gif
public/images/day/wholeday/day_0009_82.gif
public/images/day/wholeday/day_0010_81.gif
public/images/day/wholeday/day_0011_80.gif
public/images/day/wholeday/day_0012_79.gif
public/images/day/wholeday/day_0013_78.gif
public/images/day/wholeday/day_0014_77.gif
public/images/day/wholeday/day_0015_76.gif
public/images/day/wholeday/day_0016_75.gif
public/images/day/wholeday/day_0017_74.gif
public/images/day/wholeday/day_0018_73.gif
public/images/day/wholeday/day_0019_72.gif
public/images/day/wholeday/day_0020_71.gif
public/images/day/wholeday/day_0021_70.gif
public/images/day/wholeday/day_0022_69.gif
public/images/day/wholeday/day_0023_68.gif
public/images/day/wholeday/day_0024_67.gif
public/images/day/wholeday/day_0025_66.gif
public/images/day/wholeday/day_0026_65.gif
public/images/day/wholeday/day_0027_64.gif
public/images/day/wholeday/day_0028_63.gif
public/images/day/wholeday/day_0029_62.gif
public/images/day/wholeday/day_0030_61.gif
public/images/day/wholeday/day_0031_60.gif
public/images/day/wholeday/day_0032_59.gif
public/images/day/wholeday/day_0033_58.gif
public/images/day/wholeday/day_0034_57.gif
public/images/day/wholeday/day_0035_56.gif
public/images/day/wholeday/day_0036_55.gif
public/images/day/wholeday/day_0037_54.gif
public/images/day/wholeday/day_0038_53.gif
public/images/day/wholeday/day_0039_52.gif
public/images/day/wholeday/day_0040_51.gif
public/images/day/wholeday/day_0041_50.gif
public/images/day/wholeday/day_0042_49.gif
public/images/day/wholeday/day_0043_48.gif
public/images/day/wholeday/day_0044_47.gif
public/images/day/wholeday/day_0045_46.gif
public/images/day/wholeday/day_0046_45.gif
public/images/day/wholeday/day_0047_44.gif
public/images/day/wholeday/day_0048_43.gif
public/images/day/wholeday/day_0049_42.gif
public/images/day/wholeday/day_0050_41.gif
public/images/day/wholeday/day_0051_40.gif
public/images/day/wholeday/day_0052_39.gif
public/images/day/wholeday/day_0053_38.gif
public/images/day/wholeday/day_0054_37.gif
public/images/day/wholeday/day_0055_36.gif
public/images/day/wholeday/day_0056_35.gif
public/images/day/wholeday/day_0057_34.gif
public/images/day/wholeday/day_0058_33.gif
public/images/day/wholeday/day_0059_32.gif
public/images/day/wholeday/day_0060_31.gif
public/images/day/wholeday/day_0061_30.gif
public/images/day/wholeday/day_0062_29.gif
public/images/day/wholeday/day_0063_28.gif
public/images/day/wholeday/day_0064_27.gif
public/images/day/wholeday/day_0065_26.gif
public/images/day/wholeday/day_0066_25.gif
public/images/day/wholeday/day_0067_24.gif
public/images/day/wholeday/day_0068_23.gif
public/images/day/wholeday/day_0069_22.gif
public/images/day/wholeday/day_0070_21.gif
public/images/day/wholeday/day_0071_20.gif
public/images/day/wholeday/day_0072_19.gif
public/images/day/wholeday/day_0073_18.gif
public/images/day/wholeday/day_0074_17.gif
public/images/day/wholeday/day_0075_16.gif
public/images/day/wholeday/day_0076_15.gif
public/images/day/wholeday/day_0077_14.gif
public/images/day/wholeday/day_0078_13.gif
public/images/day/wholeday/day_0079_12.gif
public/images/day/wholeday/day_0080_11.gif
public/images/day/wholeday/day_0081_10.gif
public/images/day/wholeday/day_0082_9.gif
public/images/day/wholeday/day_0083_8.gif
public/images/day/wholeday/day_0084_7.gif
public/images/day/wholeday/day_0085_6.gif
public/images/day/wholeday/day_0086_5.gif
public/images/day/wholeday/day_0087_4.gif
public/images/day/wholeday/day_0088_3.gif
public/images/day/wholeday/day_0089_2.gif
public/images/day/wholeday/day_0090_1.gif

# Local Netlify folder
.netlify